%% -*- erlang -*-

{sub_dirs, ["rel"]}.

{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {i, "test"},
            {src_dirs, ["src"]}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}}
       ]}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
